:root {
    --success-color: #00ff6a;
    --error-color: #ff0000; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

form {
    padding: 30px 40px;
}

input {
    padding: 5px;
    border-radius: 5px;
    display: block;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 10px 50px;
    margin: 10px 0;
    background: rgb(0, 128, 255);
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}

.container {
    background: #fff;
    border-radius: 5px;
    margin: 0 auto;
    width: 400px;
    box-shadow: (0, 0, 0, 0.3, #000);
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input:focus {
    outline: 0;
    border-color: #777;
}
.form-control small {
    visibility: hidden;
}

.form-control.error small {
    color: var(--error-color);
    visibility: visible;
}

.form-control.error input {
    border-color: var(--error-color);
}

.form-control.success input {
    border-color: var(--success-color);
}