* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  margin: 20px 0 10px;
}

.container {
  width: 300px;
  max-width: 100%;
  border: 2px solid #333;
  margin-top: 30px;
  padding: 0 5px;
}

.container .form-control {
  position: relative;
  padding-bottom: 20px;
}

.container .form-control form {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  padding: 5px 0;
}

.form-control span {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error span {
  color: #e74c3c;
  visibility: visible;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.container button {
  margin-top: 30px;
  padding: 7px;
  background: rgba(52, 255, 45, 0.5);
  color: #fff;
  border: 1px solid rgba(52, 255, 45, 0.5);
  cursor: pointer;
}

.container button:hover {
  transition: 0.1s linear;
  background: transparent;
  color: rgb(105, 235, 18);
  border: 1px solid rgb(105, 235, 18);
}
