* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  color: #49a6e9;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 2rem;
  padding: 0.1rem 0.5rem;
  margin: 0.15rem;
  background-color: #49a6e9;
}

.links a {
  color: rgba(71, 128, 167, 0.842);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  background: rgba(71, 128, 167, 0.842);
  color: #49a6e9;
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}

@media screen and (min-width: 769px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: rgba(71, 128, 167, 0.842);
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: rgba(71, 100, 167, 0.842);
  }
}
